// body {
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   min-height: 100vh;

//   background: rgb(163, 208, 219);
//   background: linear-gradient(
//     227deg,
//     rgba(163, 208, 219, 1) 0%,
//     rgba(163, 176, 219, 1) 20%,
//     rgba(163, 173, 219, 1) 34%,
//     rgba(163, 219, 208, 1) 59%,
//     rgba(163, 208, 219, 1) 74%,
//     rgba(163, 208, 219, 1) 100%
//   );
// }

.login_register {
  display: flex;
  justify-content:center;
  margin-left: 200px;
  margin-right: 200px;
}

body > nav {
  display: flex;
  justify-content: space-between;
}

.profile_display > img {
  width: 300px;
  height: 300px;
}

.to_do_app {
  display: flex;
  justify-content: space-between;
}

.task {
  display: flex;
  justify-content: space-between;
}

.check_complete {
  display: flex;
  justify-content: space-between;
}