@use 'main';

nav {
  color: main.$primary-color;
  background-color: #9392C3;
  height: 7em;
  padding: 1.5em;
  width: 100%;
  position: fixed;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
