@use 'main';

nav {
  color: main.$primary-color;
  font-family: main.$font-family;
  font-size: 20px;
  background-color: #9392C3;
  height: 7em;
  padding: 1.5em;
  width: 100%;
  margin-bottom: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
